body {
  background-color: black;

}

#reset-button{
  position: absolute;
  background-color: black;
  color: white;
  font-family: monospace;
  font-weight: lighter;
  font-size: 20px;
  top:calc(20% - 100px);
  left:calc(50% - 200px);

}

#reset-button:hover{
  background-color: white;
  color: black;
}


#oscilloscope {
  position:absolute;
  height:100%;
  width: auto;
  border:3px solid white;
  top:calc(25% - 100px);
  left:calc(50% - 200px);
  overflow:hidden;
  z-index: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


#gain {
 position: relative;
 color: white;
 padding: 10px;
 top: 350px;
 left:calc(50% - 200px);
 font-family: monospace;
 font-weight: lighter;
 font-size: 8px;

}


#LPFilter {
  position: relative;
  left: 100px;
  color: white;
  padding: 10px;
  top: 257px;
  left:calc(50% - 100px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
}

#HPFilter {
  position: relative;
  left: 200px;
  color: white;
  padding: 10px;
  top: 162px;
  left:calc(50% - 0px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
}


#verb {
  position: relative;
  left: 300px;
  color: white;
  padding: 10px;
  top: 68px;
  left:calc(50% - -100px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
}

#FBDelay {
  position: relative;
  left: 400px;
  color: white;
  padding: 10px;
  top: -27px;
  left:calc(50% - -200px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
}



#gain2 {
 position: relative;
 color: white;
 padding: 10px;
 left:calc(50% - 200px);
 top: -30px;
 font-family: monospace;
 font-weight: lighter;
 font-size: 15px;

}


#LPFilter2 {
  position: relative;
  left: 100px;
  color: white;
  padding: 10px;
  top: -125px;
  left:calc(50% - 100px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 15px;
}

#HPFilter2 {
  position: relative;
  left: 200px;
  color: white;
  padding: 10px;
  top: -218px;
  left:calc(50% - 0px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 15px;
}

#verb2 {
  position: relative;
  left: 300px;
  color: white;
  padding: 10px;
  top: -312px;
  left:calc(50% - -100px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 15px;
}

#FBDelay2 {
  position: relative;
  left: 400px;
  color: white;
  padding: 10px;
  top: -408px;
  left:calc(50% - -200px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 15px;

}


.padContainer{

}


.pads {
  top: -350px;
  left:calc(54% - 200px);
  position: relative;
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pad-1  {
  width: 100px;
  height: 100px;
  margin: 0px 0;
  box-shadow: 0 8px 6px -6px black;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: 3px solid white;
}

.pad-1:hover  {

  background-color: white;
}



/* .wave-selector {

 position: absolute;
 top: 650px;
 color: white;
 filter: grayscale(1);
 left:calc(50% - 200px);
 -webkit-animation-name: fade;
 -webkit-animation-duration: 1.5s;
 animation-name: fade;
 animation-duration: 1.5s;
} */



@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
