body {
  transform: scale(0.8);
  background-color: black;
  animation: fade 1.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

tone-slider {
  color: black;
  background-color: white;
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
  width: 150px;
  height: 50px;
  filter: invert();
}

#reset-button,
#assignKey,
#assignDuration,
#oscillator-type {
  position: absolute;
  background-color: black;
  color: white;
  font-family: monospace;
  font-weight: lighter;
  font-size: 11px;
  top: 50px;
  filter: grayscale(1);
  cursor: pointer;
}

#reset-button {
  left: calc(50% - 200px);
}
#assignKey {
  left: calc(60% - 200px);
}
#assignDuration {
  left: calc(80% - 200px);
}
#oscillator-type {
  left: calc(70% - 200px);
}

#reset-button:hover,
#assignKey:hover,
#assignDuration:hover,
#oscillator-type:hover {
  background-color: white;
  color: black;
}

#envelope-container {
  position: fixed;
  top: 130px;
  left: calc(40% - 200px);
}

#oscilloscope {
  position: relative;
  height: 100%;
  width: auto;
  border: 3px solid white;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 1;
  animation: fade 1.5s;
}

#dials-container {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.dial {
  color: white;
  padding: 10px;
}

.dial-text {
  color: white;
  padding-bottom: 10px;
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
  text-align: center;
}

#gain,
#attackDial,
#decayDial {
  margin-right: 20px;
}

#gain {
  margin-right: 0;
}

.padContainer {
}

.pads {
  top: 150px;
  position: relative;
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  filter: grayscale(1);
}

.pad-1 {
  width: 100px;
  height: 100px;
  margin: 0px 0;
  box-shadow: 0 8px 6px -6px black;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: 3px solid white;
}

.pad-1:hover {
  background-color: white;
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
