body {
  background-color: black;

}

#oscilloscope {
  position:absolute;
  height:100%;
  width: auto;
  border:3px solid white;
  top:calc(30% - 100px);
  left:calc(50% - 200px);
  overflow:hidden;
  z-index: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


#gain {
 position: absolute;
 color: white;
 padding: 10px;
 top: 400px;
 left:calc(50% - 200px);
 font-family: monospace;
 font-weight: lighter;
 font-size: 8px;

}


#LPFilter {
  position: relative;
  left: 100px;
  color: white;
  padding: 10px;
  top: 393px;
  left:calc(50% - 100px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
}

#HPFilter {
  position: relative;
  left: 200px;
  color: white;
  padding: 10px;
  top: 300px;
  left:calc(50% - 0px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
}


#verb {
  position: relative;
  left: 300px;
  color: white;
  padding: 10px;
  top: 206px;
  left:calc(50% - -100px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
}

#FBDelay {
  position: relative;
  left: 400px;
  color: white;
  padding: 10px;
  top: 110px;
  left:calc(50% - -200px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 8px;
}


.pads {
  
  left:calc(50% - 200px);
  position: relative;
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pad-1, .pad-2, .pad-3, .pad-4, .pad-5, .pad-6, .pad-7, .pad-8  {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  box-shadow: 0 8px 6px -6px black;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: 3px solid white;
}

.pad-1:hover, .pad-2:hover, .pad-3:hover, .pad-4:hover, .pad-5:hover, .pad-6:hover, .pad-7:hover, .pad-8:hover  {

  background-color: white;
}



.wave-selector {

 position: absolute;
 top: 650px;
 color: white;
 filter: grayscale(1);
 left:calc(50% - 200px);
 -webkit-animation-name: fade;
 -webkit-animation-duration: 1.5s;
 animation-name: fade;
 animation-duration: 1.5s;
}


#gain2 {
 position: absolute;
 color: white;
 padding: 10px;
 left:calc(50% - 200px);
 top: 500px;
 font-family: monospace;
 font-weight: lighter;
 font-size: 15px;

}


#LPFilter2 {
  position: relative;
  left: 100px;
  color: white;
  padding: 10px;
  top: 112px;
  left:calc(50% - 100px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 15px;
}

#HPFilter2 {
  position: relative;
  left: 200px;
  color: white;
  padding: 10px;
  top: 17px;
  left:calc(50% - 0px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 15px;
}

#verb2 {
  position: relative;
  left: 300px;
  color: white;
  padding: 10px;
  top: -75px;
  left:calc(50% - -100px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 15px;
}

#FBDelay2 {
  position: relative;
  left: 400px;
  color: white;
  padding: 10px;
  top: -170px;
  left:calc(50% - -200px);
  font-family: monospace;
  font-weight: lighter;
  font-size: 15px;





@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
